body {
	font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
	font-family: "Lobster", cursive;
}

h2 {
	color: #3046c5;
}

header h2 {
	color: #775ada;
}
.btn-info {
	background-color: #28c7fa;
}
.bg-primary,
.btn-primary {
	background-color: #775ada !important;
	border-color: #775ada !important;
}
.btn-primary:hover {
	background-color: #775ada6b !important;
	border-color: #775ada6b !important;
}

/* navbar-nav */
.navbar-nav .nav-item {
	border: solid 2px rgba(255, 255, 255, 0);
	transition: all 0.3s;
	border-radius: 1rem;
}
.navbar-nav .nav-item .nav-link {
	transition: all 0.3s;
}
.navbar-nav .nav-item:hover {
	border-color: #fff;
}
.navbar-nav .active {
	border-color: #fff;
}

/* footer */

.site-footer {
	background-color: #775ada;
	padding: 60px 0px;
}

.site-footer h5 {
	color: #28c7fa;
}
.site-footer a {
	color: #fff;
}
.site-footer a:hover {
	color: #28c7fa;
}
.footer-list li {
	margin-top: 1rem;
}
.footer-list li a {
	transition: all 0.3s;
}
.footer-social-buttons .btn {
	margin: 0.5rem;
}
.footer-social-buttons .btn:hover {
	opacity: 0.5;
}

.jumbotron {
	padding: 30px 3px;
	background-color: #28c7fa;
	color: #a73da3;
	margin: 0;
}

.row-content {
	padding: 50px 0;
	border-bottom: 1px ridge;
	min-height: 200px;
}
.custom-card {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transition: all 0.5s;
	border-radius: 5px;
	margin: 3rem 0;
}
.custom-card:hover {
	transform: scale(1.1);
}
.navbar {
	background-color: #775ada;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
	border: 5px double #775ada;
	-webkit-box-shadow: 0px 10px 13px -7px #000000,
		5px 20px 15px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 13px -7px #000000, 5px 20px 15px 8px rgba(0, 0, 0, 0.1);
}
.carousel-control {
	transition: all 0.3s;
}
.carousel-control:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

/* media 768px */
@media (min-width: 768px) {
	.jumbotron {
		padding: 60px 3px;
	}
	.custom-card {
		margin-right: -15px;
		margin-left: -15px;
	}
}
